# PostgreSQL local (used by docker-compose)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=marketplace
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpass

# Inventory service configuration
# By default Inventory will use the same DB as Catalog (database: marketplace)
# If you want to use a separate DB for inventory, change INVENTORY_DB / INVENTORY_USER / INVENTORY_PASSWORD accordingly.
INVENTORY_DB=marketplace
INVENTORY_USER=pguser
INVENTORY_PASSWORD=pgpass
INVENTORY_SCHEMA=inventory

# Utility: single connection string variable used by Services
# You can override ConnectionStrings__DefaultConnection via environment or appsettings.Development.json
ConnectionStrings__DefaultConnection=Host=${POSTGRES_HOST};Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
